<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Featured Sets</title>
    <script defer src="scripts.js"></script>
    <link rel="stylesheet" href="CommunityHighlightsstyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

  </head>
  <body>
    <header>
      <div class="logo header">
        <img
          src="https://cdn.glitch.global/e7081fd7-2695-4ab3-816d-61e8e2504195/favicon-16x16.png?v=1734807169420"
          alt="Lego Logo"
          style="width: 64px; height: 64px"
        />
      </div>
      <nav>
        <ul>
          <li><a href="/" class="header">Home</a></li>
          <li><a href="/StarterBuilds" class="header">Starter Builds</a></li>
          <li><a href="/BrickMatch" class="header">Memory Game</a></li>
          <li><a href="/CommunityHighlights" class="header">Community Highlights</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>Featured Sets</h1>
      <section class="featured-sets">
        <div class="set">
          <img
            src="https://cdn.glitch.global/e7081fd7-2695-4ab3-816d-61e8e2504195/31120_Prod.png?v=1734952455123"
            alt="Medieval Castle Image"
          />
          <h3>Medieval Castle</h3>
          <p>A 3-in-1 Lego set that gives you a glimpse of the past.</p>
          <a
            href="https://www.lego.com/en-us/product/medieval-castle-31120"
          >Buy</a>
        </div>

        <div class="set">
          <img
            src="https://cdn.glitch.global/e7081fd7-2695-4ab3-816d-61e8e2504195/75389_boxprod_v39_sha.png?v=1734952451722"
            alt="The Dark Falcon Image"
          />
          <h3>The Dark Falcon</h3>
          <p>
            A Millenium Falcon from another reality where the sides have been
            reversed.
          </p>
          <a
            href="https://www.lego.com/en-us/product/the-dark-falcon-75389"
          >Buy</a>
        </div>

        <div class="set">
          <img
            src="https://cdn.glitch.global/e7081fd7-2695-4ab3-816d-61e8e2504195/42171.png?v=1734952448409"
            alt="AMG F1 W14 E Performance Image"
          />
          <h3>AMG F1 W14 E Performance</h3>
          <p>
            A Lego model with working suspensions and a realistic 6 cylinder
            engine.
          </p>
          <a
            href="https://www.lego.com/en-us/product/mercedes-amg-f1-w14-e-performance-42171"
          >Buy</a>
        </div>

        <div class="set">
          <img
            src="https://cdn.glitch.global/e7081fd7-2695-4ab3-816d-61e8e2504195/31151.png?v=1734952444359"
            alt="T. rex Image"
          />
          <h3>T. rex</h3>
          <p>
            A 3-in-1 Lego set that lets people of all ages create a Trex, a
            Triceratops or a Pterodactyl
          </p>
          <a href="https://www.lego.com/en-us/product/t-rex-31151">Buy</a>
        </div>
      </section>

      <section class="info-section">
        <p>
          We hope you had a great time exploring the site and discovering some
          of our featured Lego sets! Whether you're an experienced builder or
          just starting your Lego journey, we hope you learned something new.
          The Lego community is full of passionate and creative individuals, and
          we encourage you to join them. Stay tuned for more exciting features
          and fun projects to come—together, we can continue to inspire and grow
          in this incredible world of Lego!
        </p>
      </section>
    </main>

    <footer>
      <p>Copyright © Calitis, Edles</p>
      <div class="sources">
        <p class="general">Sources:</p>
        <ul>
          <li>The LEGO® Group. (n.d.-a).
            <i>The LEGO® Group: Medieval Castle 31120</i>. Retrieved from
            https://www.lego.com/en-us/product/medieval-castle-31120</li>
          <li>The LEGO® Group. (n.d.-b).
            <i>The LEGO® Group: The Dark Falcon 75389</i>. Retrieved from
            https://www.lego.com/en-us/product/the-dark-falcon-75389</li>
          <li>The LEGO® Group. (n.d.-c).
            <i>The LEGO® Group: Mercedes-AMG F1 W14 E Performance 42171</i>.
            Retrieved from
            https://www.lego.com/en-us/product/mercedes-amg-f1-w14-e-performance-42171</li>
          <li>The LEGO® Group. (n.d.-d).
            <i>The LEGO® Group: T. rex 31151</i>. Retrieved from
            https://www.lego.com/en-us/product/t-rex-31151</li>
        </ul>
      </div>
    </footer>
  </body>
</html>