<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CE Lego</title>
    <script defer src="Homescript.js"></script>
    <link rel="stylesheet" href="Homestyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="https://cdn.glitch.global/e7081fd7-2695-4ab3-816d-61e8e2504195/favicon-16x16.png?v=1734807169420" type="image/png">
  </head>
  <body>
    
    
    
    <header>
      <div class="logo header">
        <img 
          src="https://cdn.glitch.global/e7081fd7-2695-4ab3-816d-61e8e2504195/favicon-16x16.png?v=1734807169420" 
          alt="Lego Logo"
          style="width: 64px; height: 64px;"
        />
      </div>
      <nav>
        <ul>
          <li><a href="/" class="header">Home</a></li>
          <li><a href="/StarterBuilds" class="header">Starter Builds</a></li>
          <li><a href="/BrickMatch" class="header">Memory Game</a></li>
          <li><a href="/CommunityHighlights" class="header">Community Highlights</a></li>
        </ul>
      </nav>
    </header>
    <main class="intro-page">
      <h1>Introduction to Lego</h1>
      <section class="intro">
        <h2>What is Lego?</h2>
        <div class="intro-content">
          <img
            src="https://cdn.glitch.global/177012a8-02b8-4480-b72f-8c64793ab958/Lego_Color_Bricks.jpg?v=1734802327147"
            alt="Lego Bricks"
          />
          <p class="general">
            Lego is a versatile and creativity-inducing building toy made up of interlocking plastic bricks. These can be used to create an infinite variety of structures and designs. Lego is known throughout the world for promoting creativity and problem-solving. Lego allows builders to construct anything from simple shapes to complex, detailed creations. With themed sets and customizable pieces, LEGO appeals to people of all ages.
          </p>
        </div>
        <div class="intro-content">
          <span class="caption">Figure 1. Image of Lego Bricks</span>
        </div>
      </section>
      <section class="history-funfacts">
        <section class="history">
          <h2>Brief History</h2>
          <p>
            Lego, which is a plastic brick-building toy, was created by Ole Kirk
            Christiansen in his hometown Billund, Denmark. He initially created
            wooden toys back in 1932 and named his company LEGO, from the Danish
            phrase Leg godt which meant "play well". In 1949, Lego introduced
            its first plastic brick, which was later patented in 1958 by his
            son. This interlocking brick design quickly gained popularity
            throughout Europe, leading to the opening of the first LegoLand park
            in 1968. Over the years, Lego released lines like DUPLO,
            Minifigures, and the MINDSTORMS robotics kit in 1998.
          </p>
          <div class="section-image">
            <img
              src="https://cdn.glitch.global/e7081fd7-2695-4ab3-816d-61e8e2504195/Ole_Kirk_Christiansen.jpeg?v=1734803436173"
              alt="Ole Kirk Christiansen"
            />
            <span class="caption"
              >Figure 2. Image of Ole Kirk Christiansen, maker of Lego</span
            >
          </div>
        </section>
        <section class="fun-facts">
          <h2>Fun Facts</h2>
          <ul>
            <li>
              There is an average of 60 billion Lego bricks produced each year.
            </li>
            <li>
              LEGO Art The World Map (31203) is the largest official Lego set,
              coming with 11,695 pieces.
            </li>
          </ul>
          <div class="section-image">
            <img
              src="https://cdn.glitch.global/e7081fd7-2695-4ab3-816d-61e8e2504195/lego_art_the_world_map_1_.jpg?v=1734803718116"
              alt="Largest Lego Set"
            />
            <span class="caption"
              >Figure 3. Image of the Largest Official Lego Set</span
            >
          </div>
        </section>
      </section>
      <section class="purpose">
        <h2>Purpose of Website</h2>
        <p>
          The purpose of this website is to inspire creativity and imagination
          by introducing both old and new users to Lego bricks. Through this
          site, we aim to provide a space where Lego enthusiasts can explore
          some building ideas and learn about the history of Lego. By sharing
          fun facts, starter builds, and community highlights, we hope to foster
          a sense of connection and motivation for users to build, create, and
          have fun with LEGO in new and exciting ways.
        </p>
      </section>
    </main>
    <footer>
  <p>Copyright © Calitis, Edles</p>
  <div class="sources">
    <p class="general">Sources:</p>
    <ul>
      <li>Amazon.com: LEGO Art World Map 31203 Building Set - Collectible Wall Art for Adults, Featuring Accompanying Soundtrack, Great Home Office Decor for Passionate Travelers, DIY Creators, and Map Enthusiasts: Toys & Games. (n.d.). Retrieved from https://www.amazon.com/LEGO-Art-World-31203-Building/dp/B08YP6XRP1?th=1</li>
      <li>Augustyn, A. (2024, November 19). LEGO | History & Facts. Encyclopedia Britannica. Retrieved from https://www.britannica.com/topic/LEGO</li>
      <li>Brick Recycler. (2024, September 24). Fun Facts About Legos - Brick Recycler. Brick Recycler - Donate LEGOs Now and Spread Joy Among Many. Retrieved from https://brickrecycler.com/lego-fun-facts/</li>
      <li>LEGO Art The World Map (31203). (n.d.). The Gamesmen. Retrieved from https://www.gamesmen.com.au/lego-art-the-world-map-31203</li>
      <li>Wikipedia contributors. (2007, December 1). File:Lego Color Bricks.jpg - Wikipedia. Retrieved from https://en.m.wikipedia.org/wiki/File:Lego_Color_Bricks.jpg</li>
      <li>Wikipedia contributors. (2024, October 25). Ole Kirk Christiansen. Wikipedia. Retrieved from https://en.wikipedia.org/wiki/Ole_Kirk_Christiansen</li>
    </ul>
  </div>
</footer>

      </div>
    </footer>
  </body>
</html>
