<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lego Starter Builds</title>
    <script defer src="starterbuilds.js"></script>
    <link rel="stylesheet" href="StarterBuildsstyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://cdn.glitch.global/e7081fd7-2695-4ab3-816d-61e8e2504195/favicon-16x16.png?v=1734807169420"
      type="image/png"
    />
  </head>
  <body>
    <header>
      <div class="logo header">
        <img
          src="https://cdn.glitch.global/e7081fd7-2695-4ab3-816d-61e8e2504195/favicon-16x16.png?v=1734807169420"
          alt="Lego Logo"
          style="width: 64px; height: 64px;"
        />
      </div>
      <nav>
        <ul>
          <li><a href="/" class="header">Home</a></li>
          <li><a href="/StarterBuilds" class="header">Starter Builds</a></li>
          <li><a href="/BrickMatch" class="header">Memory Game</a></li>
          <li><a href="/CommunityHighlights" class="header">Community Highlights</a></li>
        </ul>
      </nav>
    </header>
    <main class="title">
      <h1>Lego Starter Builds</h1>
      <section class="introduction">
        <h2>Get Started with Simple Builds</h2>
        <div>
          <p class="general">
            Explore some basic Lego builds that are easy to start with. These
            simple projects are perfect for beginners who want to get familiar
            with building techniques and creative ideas.
          </p>
        </div>
      </section>

      <section class="build">
        <h2>Simple House Build for Beginners</h2>
        <h3>Lego Pieces Needed:</h3>
        <div class="pieces">
          <div class="pieceone">  
            <p>
              10 Rectangle Lego Bricks
            </p>
            <img src="https://cdn.glitch.global/e7081fd7-2695-4ab3-816d-61e8e2504195/e5e041e6-c3dd-41dd-8b1e-afcb35615f50.image.jpeg?v=1734965371163"/>
            <br>
            <span class="caption">Figure 1. Rectangle Lego Brick</span>
          </div>
          <div class="piecetwo">
            <p>
              16 Square Lego Bricks
            </p>
            <img
              src="https://cdn.glitch.global/e7081fd7-2695-4ab3-816d-61e8e2504195/67d6d16c-1d17-4ff9-8d36-aaf0ae3823a2.image.png?v=1734935737016"
            />
            <br>
            <span class="caption">Figure 2. Square Lego Brick</span>
          </div>
          <div class="piecethree">
            <p>
              16 Slope Lego Bricks
            </p>
            <img
              src="https://cdn.glitch.global/e7081fd7-2695-4ab3-816d-61e8e2504195/838a5d77-b6a7-4414-a5fb-5406c8db07e1.image.png?v=1734935818224"
            />
            <br>
            <span class="caption">Figure 3. Slope Lego Brick</span>
          </div>
          <div class="piecefour">
            <p>
              2 Lego Windows
            </p>
            <img
              src="https://cdn.glitch.global/e7081fd7-2695-4ab3-816d-61e8e2504195/c8433a9d-d510-4fa6-a31f-7486fb1bd7d2.image.png?v=1734937187243"
            />
            <br>
            <span class="caption">Figure 3. Window Lego Brick</span>
          </div>
          <div class="piecefive">
            <p>
              1 Lego Door
            </p>
            <img
              src="https://cdn.glitch.global/e7081fd7-2695-4ab3-816d-61e8e2504195/44757118-5ec4-4cdb-b90e-63eee8fb848b.image.png?v=1734937595138"
            />
            <br>
            <span class="caption">Figure 4. Door Lego Brick</span>
          </div>
          <h3>Instructions:</h3>
          <ol>
            <li>Gather the Legos needed.</li>
            <li>Form a line by placing a square Lego brick followed by a
              rectangle Lego brick and then a square Lego brick</li>
            <li>Following the pattern, form a square.</li>
            <li>After that, increase the height of the square lego bricks by
              placing square lego bricks above them 3 more times on each side.</li>
            <li>Then, on opposite sides, place the windows on top of the
              rectangle Lego bricks.</li>
            <li>Then on one side that has a rectangle Lego brick, remove that to
              place the Lego door.</li>
            <li>Above the lego door, place a rectangle Lego brick.</li>
            <li>Lastly, to finish up, add the roof of the house by simply
              putting the slope Lego bricks at the very top with its slopes
              facing outward on the direction of the windows.</li>
            <li>Congratulations! You have a simple Lego house!</li>
          </ol>
        </div>
        <div class="video">
          <h3>Animated Walkthrough</h3>
          <img
            src="https://cdn.glitch.global/e7081fd7-2695-4ab3-816d-61e8e2504195/af25cf40-cc20-4f2b-8c5f-4a54c9c9e4f3.image.png?v=1734937943991"
          />
          <p class="general"></p>
        </div>
      </section>

    </main>
    <footer>
      <p class="general">Copyright 2024 Calitis-Edles</p>
      <div class="sources">
        <p class="general">Sources:</p>
        <ul>
          <li>Ubuy Philippines. (n.d.). Buy 10 Blue Bright Blue 2x4 LEGO Bricks online Philippines | UbUY. https://www.ubuy.com.ph/product/7J97EYQ6-lego-parts-and-pieces-blue-bright-blue-2x4-brick-x10</li>
          <li>Van Gerwen, B., Dongen, R., Jong, J., Jong, J., Maas, M., Janssen, C., Dustin, S., Redmayne-Smith, K., Simone, Est, K., Loenen, E., Sneekes, P., Knoester, M., Vochten, W., Guelen, H., Maes, J., Herald, K., Van Der Meij, A., Hoogenboom, M. L., . . . Rowe, A. (n.d.). LEGO Brick 2x2 YELLOW (100 pcs) | LEGOshop online - BRICKshop Holland (Gorinchem). LEGOshop Online - BRICKshop Holland (Gorinchem). https://m.brickshop.eu/lego-parts/bricks/lego-brick-2x2-yellow-100-pcs.html</li>
          <li>Admin. (2019, June 6). The 1x8x3 25° Slope. New Elementary: LEGO® Parts, Sets and Techniques. https://www.newelementary.com/2019/06/1x8x3-slope-49618.html?m=1</li>
          <li>Lego Window 1 x 4 x 3 - No Shutter Tabs Parts Pieces Lot ALL COLORS  | eBay. (n.d.). eBay. https://www.ebay.ph/itm/174166112314</li>
          <li>BrickLink. (n.d.). Door, Frame 2 x 4 x 5 with Red Door 1 x 4 x 5 (4130 / 4131) : Part 4130c01 | BrickLink. https://www.bricklink.com/v2/catalog/catalogitem.page?P=4130c01</li>
        </ul>
      </div>
    </footer>
  </body>
</html>